h2,
label,
.submit {
  font-family: "Brandon Grotesque", serif, Times;
  font-style: normal;
  font-weight: 500;
}

h2 {
  text-align: center;
  letter-spacing: 0.1rem;
  color: #f34e43;
}

label {
  font-size: 0.9rem;
  padding-left: 10px;
  display: block;
}

input,
select {
  border: 1px solid lightgray;
  border-radius: 3px;
  width: 500px;
  height: 40px;
  margin-bottom: 20px;
}

input {
  font-family: AtlasGrotesk, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1rem;
  padding-left: 10px;
}

select {
  background-color: rgb(237 237 237);
  font-family: "Brandon Grotesque", serif, Times;
  font-style: normal;
  font-weight: normal;
}

fieldset {
  border: none;
  width: 500px;
  margin: auto;
}

.submit {
  color: white;
  background-color: #f34e43;
  border: none;
  border-radius: 30px;
  float: right;
}
